.MainHeader {
  width: 100%;
  height: 40px;
  text-align: center;
  border: 1px solid burlywood;
  background-color: bisque;
  
}

@keyframes App-logo-spin {
  from { transform: rotate(0deg); }
  to { transform: rotate(360deg); }
}
